.app{background-color:#fafafa;min-height:100vh;display:flex;flex-direction:column;align-items:center;justify-content:center;font-size:calc(10px + 2vmin);color:#fff}
.app .box-calc{background-color:#383739;position:relative;display:flex;flex-direction:column}
.custome-card .ant-card-body{padding:2px;background:#38383a;border-radius:5px}